
	<!--
	<script src="<?php echo BASE; ?>/js/bootstrap.min.js"></script>
	<script src="<?php echo BASE; ?>/js/jquery-ui.min.js"></script>
	
	<script src="<?php echo BASE; ?>/js/jquery.preload-min.js"></script>
	<script src="<?php echo BASE; ?>/js/strife.js"></script>
	-->
	<script src="<?php echo BASE; ?>/js/jquery-1.9.1.min.js"></script>
	
	<script>
		//bootstrap
		$(document).ready(function(e){
			//js code goes here
		});			
	</script>
</body>
</html>